*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

nav, footer, section:nth-of-type(3n)
{
    background-color: #7ac144;
}

section:nth-of-type(3n+1)
{
    background-color: #edcc35;
}

ul
{
    list-style: none;
}

nav ul
{
    display: flex;
    justify-content: space-around;
}

nav ul li
{
    padding: 0.5rem;
}

nav ul li:hover
{
    background-color: hsla(0, 0%, 90%, 0.5);
}

nav ul li a
{
    text-decoration: none;
    color: black;
}

section
{
    min-height: 25vh;
    display: flex;
    flex-direction: column;
}

section, footer
{
    padding: 1rem;
}

section>img
{
    margin: 0 auto;
}

.intro
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    text-align: center;
    padding-bottom: 2rem;
}

.columns, .services article, .services article div
{
    display: flex;
}

.services article
{
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.services article div
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columns
{
    column-gap: 0.8rem;
}

.columns div
{
    flex: 1;
}

.intro
{
    background: url('img/hero-02.jpg') no-repeat center center/cover;
}

.customerservice img
{
    max-width: 100%;
}