* {
    margin: 0;
    padding: 0;
}

body
{
    height: 100vh;
    color: hsl(209, 10%, 100%);
    display: flex;
    flex-direction: column;
}

p
{
    margin: 1rem;
}

header
{
    background-color: hsl(209, 50%, 30%);
}

nav
{
    background-color: hsl(209, 30%, 60%);
}

main
{
    background-color: hsl(209, 20%, 80%);
    color: hsl(209, 20%, 10%);
    padding-bottom: 0.1rem;
    flex-grow: 1;
}

main section
{
    height: 100%;
    display: flex;
    flex-direction: column;
}

main article
{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

main article div
{
    width: 30%;
    background-color: hsl(209, 30%, 60%);
    border: 1px solid hsl(209, 30%, 20%);
}

aside
{
    display: none;
    background-color: hsl(209, 80%, 50%);
}

footer
{
    background-color: hsl(209, 50%, 30%);
}