* {
    margin: 0;
    padding: 0;
}

body
{
    height: 100vh;
    color: hsl(209, 10%, 100%);
}

p
{
    margin: 1rem;
}

header
{
    background-color: hsl(209, 50%, 30%);
}

nav
{
    background-color: hsl(209, 30%, 60%);
}

main
{
    background-color: hsl(209, 20%, 80%);
    color: hsl(209, 20%, 10%);
    padding-bottom: 0.1rem;
}

aside
{
    background-color: hsl(209, 80%, 50%);
}

footer
{
    background-color: hsl(209, 50%, 30%);
}