*
{
    margin: 0;
    padding: 0;
}

main
{
    max-width: 600px;
    margin: 0 auto;
}

section
{
    background-color: #ccc;
    display: flex;
}

.parent1
{
    flex-direction: row;
}

.parent2
{
    flex-direction: row-reverse;
}

.parent3
{
    flex-direction: column;
}

.parent4
{
    flex-direction: column-reverse;
}

h1
{
    font-size: 32px;
    font-weight: bold;
}

h4
{
    font-size: 18px;
    font-weight: bold;
}

.child
{
    width: 100px;
    padding: 10px;
    color: #fff;
    box-sizing: border-box;
    font-size: 42px;
}

.child:nth-of-type(1)
{
    background-color: red;
}

.child:nth-of-type(2)
{
    background-color: green;
}

.child:nth-of-type(3)
{
    background-color: blue;
}

.child:nth-of-type(4)
{
    background-color: orange;
}