*
{
    margin: 0;
    padding: 0;
}

.wrapper
{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer
{
    height: 50px;
    background-color: #666;
    color: #fff;
    flex-shrink: 1;
}

.content
{
    flex: auto;
    display: flex;
}

.main
{
    width: 60%;
    background-color: #ccc;
}

aside
{
    width: 20%;
    background-color: #999;
}
