* {
    margin: 0;
    padding: 0;
}

body
{
    height: 100vh;
    color: hsl(20, 10%, 100%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px auto 80px 80px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "nav2"
    "footer";
}

body > *
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section
{
    margin: 2rem;
}

article
{
    margin: 2rem 0;
}

header
{
    grid-area: header;
    background-color: hsl(20, 50%, 30%);
}

body > div
{
    grid-area: nav2;
    background-color: hsl(20, 30%, 40%);
}

aside
{
    background-color: hsl(20, 80%, 50%);
    display: none;
}

nav
{
    grid-area: nav;
    background-color: hsl(20, 30%, 60%);
}

main
{
    grid-area: main;
    background-color: hsl(20, 20%, 80%);
    padding: 2rem 0;
}

footer
{
    grid-area: footer;
    background-color: hsl(20, 50%, 30%);
}

@media only screen and (min-width: 1000px)
{
    body
    {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 3fr 1fr 13fr 3fr;
        grid-template-areas: 
        "header header header header header header"
        "nav nav nav nav nav2 nav2"
        "side1 main main main side2 side2"
        "footer footer footer footer footer footer";
    }

    aside:first-of-type
    {
        grid-area: side1;
    }

    aside:last-of-type
    {
        grid-area: side2;
    }

    aside
    {
        display: flex;
    }
}